---
import Layout from "../layout/index.astro";
import AirportModal from "../components/AirportModal.tsx";
const airports = [
    { name: "Kastrup", icao: "EKCH", standguide: "https://vatsim-scandinavia.org/applications/core/interface/file/attachment.php?id=3318", pushback: "https://vatsim-scandinavia.org/applications/core/interface/file/attachment.php?id=4391&key=5033a7fc554455bce1ceabead8c1bd96", taxi: "https://vatsim-scandinavia.org/applications/core/interface/file/attachment.php?id=3320", charts: "https://vatsim-scandinavia.org/applications/core/interface/file/attachment.php?id=4454&key=3384d7148670adf2b4acf5986ff5e00d"},
    { name: "Roskilde", icao: "EKRK", standguide: "", pushback: "", taxi: "", charts: ""},
    { name: "Rønne", icao: "EKRN", standguide: "", pushback: "", taxi: "", charts: ""},
    { name: "Billund", icao: "EKBI", standguide: "", pushback: "", taxi: "", charts: ""},
    { name: "Aalborg", icao: "EKYT", standguide: "", pushback: "", taxi: "", charts: ""},
    { name: "Aarhus", icao: "EKAH", standguide: "", pushback: "", taxi: "", charts: ""},
    { name: "Sønderborg", icao: "EKSB", standguide: "", pushback: "", taxi: "", charts: ""},
];

const airlines = [
  {name: "Scandinavian Airlines", icao: "SAS"},
  {name: "Norwegian", icao: "NOZ"},
  {name: "Ryanair", icao: "RYR"},
  {name: "Danish Air Transport", icao: "DTR"},
  {name: "KLM", icao: "KLM"},
  {name: "Lufthansa", icao: "DLH"},
  {name: "European Carriers", icao: "n/a"},
  {name: "Low Cost Airlines", icao: "n/a"},
  ]
---

<Layout>
  <div class="w-full h-full flex justify-start pt-12 flex-col items-center p-8">
    <h1 class="text-6xl font-semibold ">Briefing</h1>
    <br />
    <div class="flex items-center justify-center dark:text-white w-full">
      <div class="flex w-full justify-center items-center flex-col">
        <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
            {airports.map((item) => (
                <AirportModal airport={item} client:visible />
            ))}
        </div>
      </div>
    </div>    
  </div>
</Layout>
