---
import Layout from "../layout/index.astro"
import AccordionBlock from "../components/AccordionBlock"
---
<Layout>
    <div class="w-full h-full flex pt-12 flex-col items-center">
        <h1 class="text-6xl font-semibold">Charts & Navigation</h1>
        <span class="m-10"/>
        <div class="grid gap-6 grid-cols-1 md:grid-cols-2 w-full pl-10 pr-10">
            <div class="col-span-1 md:col-span-2">
                <h1 class="text-4xl font-bold text-white text-center">Copenahgen/ Kastrup Airport</h1>
            </div>
            <div class="bg-snow text-black rounded-xl p-4 font-medium w-full h-fit shadow-lg">
                <h1 class="text-2xl">Arrival Procedures</h1>
                <p>Arrivals into Copenhagen comes from 5 directions, and all have following items to know</p>
                <AccordionBlock title="Initial fix" body="Also the name of the STAR" client:visible />
                <AccordionBlock title="Holding fix" body="Where the holdings are on the arrivals" client:visible />
                <AccordionBlock title="Handover fix" body="Where you are handed over to APP" client:visible />
                <AccordionBlock title="Path to the Vector fix" body="Path until the arrival culminates in a vector" client:visible />
                <AccordionBlock title="" body="" client:visible />
            </div>

            <div class="bg-snow text-black rounded-xl p-4 font-medium w-full h-fit shadow-lg">
                <h1 class="text-2xl">Departure Procedures</h1>
                <iframe src="https://stands.vatsim-scandinavia.org/?icao=EKCH&frameless=true" class="w-full h-64" />
            </div>
            <div class="col-span-1 md:col-span-2">
                <h1 class="text-4xl font-bold text-white text-center">Billund Airport</h1>
            </div>
            <div class="col-span-1 md:col-span-2">
                <h1 class="text-4xl font-bold text-white text-center">Aalborg Airport</h1>
            </div>
        </div>
    </div>
</Layout>