---
import Layout from "../layout/index.astro"
---
<Layout>
    <div class="w-full h-full flex justify-start pt-12 flex-col items-center p-8">
        <h1 class="text-6xl font-semibold  text-center pt-12">Charts & Navigation</h1>
        <span class="m-10"/>
    </div>
</Layout>