---
import Layout from "../layout/index.astro"
import ComCard from "../components/CompCard"
const events = [
  {
    subtitle: "Regionals",
    title: "Most regional sectors",
    link: ""
  },
  {
    subtitle: "Shuttle",
    title: "EKBI / EKCH",
    link: "",
    image: "https://files.guidedanmark.org/files/472/292834_klm-fly-billund-airport.png"
  },
  {
    subtitle: "Shuttle",
    title: "EKYT / EKCH",
    link: "",
    image: "https://media.licdn.com/dms/image/C4E1BAQF92wMGsi1Apg/company-background_10000/0/1584467136608/aalborg_lufthavn_cover?e=2147483647&v=beta&t=2Ghzc0bw5deYu9eF4S4Bm0O6Zd_v8kzGxn6R9OgsSeU"
  },
  {
    subtitle: "Shuttle",
    title: "EKKA / EKCH",
    link: ""
  },
  {
    subtitle: "VFR/GA",
    title: "King of the skyes",
    link: ""
  }
]
---
<Layout>
    <div class="w-full h-full flex items-center flex-col pt-12">
        <h1 class="text-6xl font-semibold">Competition</h1>
        <span class="m-10"/>
        <div class="grid w-full grid-cols-1  md:grid-cols-2 lg:grid-cols-3 gap-6 content-center pl-10 pr-10">
            {
                events.map((item) => (
                  <ComCard competition={item} client:visible />
                ))
            }
        </div>
        <span class="m-10"/>
    </div>
</Layout>