---
import Layout from "../layout/index.astro"
---
<Layout>
    <div class="w-full h-full flex items-center flex-col pt-12">
        <h1 class="text-6xl font-semibold text-vatscaSnow ">Competition</h1>
        <span class="mt-32 mb-32"/>
        <h1 class="text-4xl font-semibold text-vatscaSnow ">TBA</h1>
    </div>
</Layout>