---
import { ViewTransitions } from "astro:transitions";
import '../globals.css'
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/Arrow transparent.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <title>Copenhagen Live</title>
        <ViewTransitions />
    </head>
    <body class="bg-[#f3f1ed] bg-[url('/skies.svg')] bg-cover flex justify-center items-center h-full min-h-screen text-[#1a4860]">
        <div class="flex justify-center items-center basis-1/1 2xl:basis-1/2 p-4 w-full xl:min-w-[250px] h-full gap-4">
            <div class="bg-[#e6e8ee] w-full h-full rounded p-4">
                <h1 class="text-2xl font-medium">Morning Rush</h1>
                <p class="text-gray-800 italic">
                    04-05 UTC
                </p>
                <br />
                <p class="text-lg">
                    Are you an early bird? Join us for the morning rush and experience the thrill of the early morning departures and arrivals.
                </p>
                <h2 class="text-xl font-medium my-4">How to participate?</h2>
                <p class="text-lg">
                    Book a flight via our booking site to participate: <a href="https://booking.vatsim-scandinavia.org/copenhagen-live-2024" target="_blank" class="underline hover:font-medium">VATSCA Booking</a>
                </p>
                <h2 class="text-xl font-medium my-4">Prize</h2>
                <p class="text-lg">
                    The winner will receive a scenery from SimNord.
                </p>
            </div>
            <div class="bg-[#e6e8ee] w-full h-full rounded p-4">
                <h1 class="text-2xl font-medium">Night owl</h1>
                <p class="text-gray-800 italic">
                    21-22 UTC
                </p>
                <br />
                <p class="text-lg">
                    Are you an early bird? Join us for the morning rush and experience the thrill of the early morning departures and arrivals.
                </p>
                <h2 class="text-xl font-medium my-4">How to participate?</h2>
                <p class="text-lg">
                    Book a flight via our booking site to participate: <a href="https://booking.vatsim-scandinavia.org/copenhagen-live-2024" target="_blank" class="underline hover:font-medium">VATSCA Booking</a>
                </p>
                <h2 class="text-xl font-medium my-4">Prize</h2>
                <p class="text-lg">
                    The winner will receive a scenery from SimNord.
                </p>
            </div>
        </div>
    </body>
</html>