---
title: "Home";
import "../globals.css";
import DispatchComponent from "../components/dispatch.jsx";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Welcome to CPH Live</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/Arrow transparent.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    </head>
    <body class="text-white bg-gray-950 overflow-y-scroll">
        <table
            class="w-fit mx-auto border-spacing-8 caption-top"
        >
            <DispatchComponent client:only/>
        </table>
    </body>
</html>
