---
import "../globals.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="bg-blue-400">

		<section class="h-24 bg-black w-full flex gap-4">
			<img src="/logo_dark.svg" class="h-full p-3" />
			<span class="border border-r-2 border-white  h-4/5 my-auto rounded"/>
			<ul class="flex items-center justify-between h-full ">
				<img src="/icons/aerosoft.svg" class="h-14 p-2" />
				<img src="/icons/orbex.png" class="h-14 p-3" />
				<img src="/icons/simnord.svg" class="h-14 p-3" />
			</ul>
		</section>

	</body>
</html>