---
import Layout from "../layout/index.astro";
import { Flight } from "../components/Flight";
---

<Layout>

  <div class="w-screen min-h-screen h-fit md:h-screen flex flex-col justify-center items-center gap-4">
    <img src="/logo.svg" alt="" class="max-w-[50vw]" />
      <iframe src="https://lottie.host/embed/51823aa2-f66a-43b7-822a-19bc5df0f843/mkeOn7yXol.json" />
  </div>

  <div class="w-screen min-h-screen h-fit md:h-screen grid grid-cols-5 gap-8 p-12" id="info">
    <div class="col-span-5 xl:col-span-3 bg-white p-12 rounded-md">
      <h1 class="text-4xl font-bold">📅 Schedule</h1>
      <h3 class="text-lg italic font-medium">All times are in Zulu</h3>
      <div class="flex text-2xl font-semibold pt-4 justify-center items-center flex-col xl:flex-row">
        <div class="w-full">
          <div class="py-4">
            <h2 class="text-[#1a4860] font-bold">04:00-06:00</h2>
            <ul class="list-disc list-inside">
              <li>Event Start</li>
            </ul>
          </div>
          <div class="py-4">
            <h2 class="text-[#1a4860] font-bold">06:00-08:00</h2>
          </div>
          <div class="py-4">
            <h2 class="text-[#1a4860] font-bold">08:00-10:00</h2>
          </div>
        </div>
        <div class="w-full">
          <div class="py-4">
            <h2 class="text-[#1a4860] font-bold">10:00-12:00</h2>
          </div>
          <div class="py-4">
            <h2 class="text-[#1a4860] font-bold">12:00-14:00</h2>
          </div>
          <div class="py-4">
            <h2 class="text-[#1a4860] font-bold">14:00-16:00</h2>
          </div>
        </div>
        <div class="w-full">
          <div class="py-4">
            <h2 class="text-[#1a4860] font-bold">16:00-18:00</h2>
          </div>
          <div class="py-4">
            <h2 class="text-[#1a4860] font-bold">18:00-20:00</h2>
          </div>
          <div class="py-4">
            <h2 class="text-[#1a4860] font-bold">20:00-22:00</h2>
            <ul class="list-disc list-inside">
              <li>Event End</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-span-5 xl:col-span-2 bg-white p-12 rounded-md">
      <h1 class="text-4xl font-bold mb-12" >🔗 Links</h1>
      <div class="flex flex-col gap-4">
        <a href="https://wiki.vatsim-scandinavia.org/books/danish-airports-charts/page/ekch-copenhagenkastrup" target="_blank" class="text-3xl font-semibold">
          <p>📄 Pilot Briefing</p> 
        </a>
        <a href="https://www.twitch.tv/vatsimscandinavia" target="_blank" class="text-3xl font-semibold">
          <p class="mb-6">📺 Twich Stream</p>
        </a>
      </div>
    </div>

    <div class="col-span-5 xl:col-span-3 bg-white rounded h-full p-12">
      <h1 class="text-4xl font-bold">✈️ VA Fly-in</h1>
      <h3 class="text-lg font-medium">We have established mini events & preferred routes in collaboration with several of the virtual airline operators, check them out below.</h3>
      <div class="w-full h-fit grid 2xl:grid-cols-2 text-white gap-8">

        <div class="text-black w-full p-2 min-w-[220px] h-fit">
          <div class="bg-[#000099] h-fit rounded-lg p-2 flex justify-center">
            <img src="/vSAS_light.png" class="h-12" />
          </div>
          <p>Toghter with vSAS we have arranged three community flights and all participating pilots will be in a giveaway raffle!</p>
          <p>vSAS are also organizing a giveaway raffle for all participating pilots!</p>
          <p class="font-medium">Prerequisites</p>
          <ul class="list-disc list-inside">
            <li>Be part of vSAS</li>
            <li>The pilots have partiticpated in the group flight</li>
            <li>Each leg's PIREPS must be sent via the vAMSYS Pegasus System</li>
          </ul>
          <p class="font-medium mt-4">Routes & times</p>

          <Flight flight_number="SAS 9001"
          departure="Copenhagen" 
          departure_short="CPH"
          arrival="Aalborg" 
          departure_time="1200z" 
          arrival_time="1305z" 
          arrival_short="AAL"
          time_hours={1}
          time_minutes={5}
          client:visible 
          />
          <Flight flight_number="SAS 9002"
          departure="Aalborg" 
          departure_short="AAL"
          departure_time="1330z" 
          arrival="Bilund" 
          arrival_short="BLL"
          arrival_time="1425z" 
          time_hours={1}
          time_minutes={15}
          client:visible 
          />
          <Flight flight_number="SAS 9003"
          departure="Billund" 
          departure_short="BLL"
          arrival="Copenhagen" 
          departure_time="1450z" 
          arrival_time="1555z" 
          arrival_short="CPH"
          time_hours={1}
          time_minutes={5}
          client:visible 
          />

          <p class="font-medium mt-6">Unable to join the group flights? no worries!<br/> vSAS Pilots get +60 Bonus Points for each flight in or out of CPH from 04:00z - 22:00z.</p>
        </div>

        <div class="text-black w-full p-2 min-w-[220px] h-fit">
          <div class="bg-[#1f1e2e] h-fit rounded-lg p-2 flex justify-center">
            <img src="https://cdn.vamsys.xyz/phoenixMediaStore/logo_dashboard_dark/31065/c/vEZY_White_2022-logo-logo.png" class="h-12" />
          </div>
          <p class="font-medium">Book direct flights to Copenhagen for a fun and easy city break, or as the perfect gateway for a longer trip to Scandinavia</p>
          <p class="font-medium mt-4">Common vEZY destinations from CPH:</p>
          <div class="flex gap-4 flex-col lg:flex-row flex-1 p-2">
            <div class="bg-gray-100 p-2 rounded">
              Nice
            </div>
            <div class="bg-gray-100 p-2 rounded">
              Manchester
            </div>
            <div class="bg-gray-100 p-2 rounded">
              London Gatwick
            </div>
            <div class="bg-gray-100 p-2 rounded">
              Edinburgh
            </div>
            <div class="bg-gray-100 p-2 rounded">
              Amsterdam
            </div>
          </div>
          <div class="flex gap-4 flex-col lg:flex-row flex-1 p-2">
            <div class="bg-gray-100 p-2 rounded">
              Berlin Brandenburg
            </div>
            <div class="bg-gray-100 p-2 rounded">
              Charles de Gaulle
            </div>
            <div class="bg-gray-100 p-2 rounded">
              Milan Malpensa
            </div>
            <div class="bg-gray-100 p-2 rounded">
              Nice
            </div>
          </div>
          <p class="font-medium mt-4">250 Points pr. PIREP on the published routes</p>
        </div>

        <div class="text-black w-full p-2 min-w-[220px] h-fit">
          <div class="bg-[#05164d] h-fit rounded-lg p-2 flex justify-center">
            <img src="https://lh-virtual.com/wp-content/uploads/2022/12/full-hd_transparent_logo_white-300x71.png" class="h-12" />
          </div>
          <p class="font-medium">vDLH have planned a community flight!</p>
        </div>

        <div class="text-black w-full p-2 min-w-[220px] h-fit">
          <div class="bg-[#e42e3c] h-fit rounded-lg p-2 flex justify-center">
            <img src="https://www.virtualnorwegian.net/lib/skins/vnorwegian/img/logo2.png" class="h-12 w-fit aspect-auto" />
          </div>
          <p class="font-medium">vNAX have planned a community flight!</p>
        </div>
      </div>
    </div>

    <div class="col-span-5 xl:col-span-2 bg-white p-12 rounded-md">
      <h1 class="text-4xl font-bold">👋🏻 Event Sponsors</h1>
      <div class="flex justify-between gap-4 p-4 mt-12">
        <img src="/simnord.png" alt="" class="h-auto w-64 bg-gray-400 p-2 rounded-md">
      </div>
    </div>

  </div>
</Layout>
