---
import Layout from "../layout/index.astro";
---
<Layout>
  <div class="w-screen h-screen flex flex-col justify-center items-center gap-4">
    <img src="/logo.svg" alt="" class="max-w-[50vw]">
    <div class="text-[#1a4860] grid gap-2 grid-cols-2 md:grid-cols-4">
      <a href="https://twitch.tv/vatsimscandinavia" target="_blank" class="p-4 bg-[#d5dfdf] rounded font-bold flex items-center justify-center gap-2 w-44">
        <img src="/tv.svg" class="w-8"/> Watch live
      </a>
      <a href="#dep" class="p-4 bg-[#d5dfdf] rounded font-bold flex items-center justify-center gap-2 w-44">
        <img src="/plane-departure.svg" class="w-8"/> Departing
      </a>
      <a href="#arr" class="p-4 bg-[#d5dfdf] rounded font-bold flex items-center justify-center gap-2 w-44">
        <img src="/plane-arrival.svg" class="w-8"/> Arriving
      </a>
      <a href="#comp" class="p-4 bg-[#d5dfdf] rounded font-bold flex items-center justify-center gap-2 w-44">
        <img src="/icons/Pokal.svg" class="w-8"/> Competitions
      </a>
    </div>
  </div>
  <div id="dep" class="w-screen h-screen">

  </div>
  <div id="arr" class="w-screen h-screen">

  </div>
  <div id="comp" class="w-screen h-screen">

  </div>
</Layout>
