---
import Layout from "../layout/index.astro"
---
<Layout>
    <div class="w-full h-full flex justify-center pt-12">
        <h1 class="hidden sm:block text-4xl lg:text-6xl font-semibold dark:text-white text-black ">Copenhagen Live 2024</h1>
        <h1 class="text-6xl font-semibold dark:text-white text-black ">CPH Live 2024</h1>
    </div>
</Layout>