---
import { ClientRouter } from "astro:transitions";
import "../globals.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/Arrow transparent.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>Copenhagen Live</title>
    <ClientRouter />
  </head>
  <body
    class="bg-[#f3f1ed] bg-[url('/skies.svg')] bg-cover flex flex-col justify-around items-center h-full min-h-screen overflow-x-hidden"
  >
    <section
      class="flex justify-between items-center w-full px-6 md:px-24 min-h-screen h-fit"
    >
      <div class="flex justify-center items-left flex-col w-full md:w-1/2">
        <h3 class="text-xl font-semibold">MAJOR EVENT SERIES</h3>
        <h1 class="text-4xl md:text-6xl font-medium">Copenhagen Live 2025</h1>
        <div class="bg-black w-6 md:w-10 h-2 md:h-4 my-4"></div>
        <p class="text-2xl">September 21th - 04-22z</p>
      </div>
      <img
        src="/cc.svg"
        alt=""
        class="hidden md:block w-full min-w-[250px] max-w-[50vw] h-full"
      />
    </section>
    <section class="min-h-[50vh] px-6 md:px-24">
      <h2 class="mx-auto text-4xl font-medium">Schedule</h2>
      <ol
        class="border-s border-black dark:border-neutral-500 md:flex md:justify-center md:gap-6 md:border-s-0 md:border-t-2 my-6"
      >
        <li>
          <div class="flex-start flex items-center pt-2 md:block md:pt-0 w-32">
            <div
              class="-ms-[5px] me-3 h-[9px] w-[9px] rounded-full bg-black dark:bg-neutral-500 md:-mt-[5px] md:me-0 md:ms-0"
            >
            </div>
            <p class="mt-2 text-sm text-neutral-500 dark:text-black">
              04:00Z
            </p>
          </div>
          <div class="ms-4 mt-2 pb-5 md:ms-0">
            <h4 class="mb-1.5 text-xl font-semibold">Event start</h4>
          </div>
        </li>

        <li>
          <div class="flex-start flex items-center pt-2 md:block md:pt-0 w-32">
            <div
              class="-ms-[5px] me-3 h-[9px] w-[9px] rounded-full bg-black dark:bg-neutral-500 md:-mt-[5px] md:me-0 md:ms-0"
            >
            </div>
            <p class="mt-2 text-sm text-neutral-500 dark:text-black">
              06:00Z
            </p>
          </div>
          <div class="ms-4 mt-2 pb-5 md:ms-0">
            <h4 class="mb-1.5 text-xl font-semibold">TBD</h4>
          </div>
        </li>

        <li>
          <div class="flex-start flex items-center pt-2 md:block md:pt-0 w-32">
            <div
              class="-ms-[5px] me-3 h-[9px] w-[9px] rounded-full bg-black dark:bg-neutral-500 md:-mt-[5px] md:me-0 md:ms-0"
            >
            </div>
            <p class="mt-2 text-sm text-neutral-500 dark:text-black">
              08:00Z
            </p>
          </div>
          <div class="ms-4 mt-2 pb-5 md:ms-0">
            <h4 class="mb-1.5 text-xl font-semibold">TBD</h4>
          </div>
        </li>

        <li>
          <div class="flex-start flex items-center pt-2 md:block md:pt-0 w-32">
            <div
              class="-ms-[5px] me-3 h-[9px] w-[9px] rounded-full bg-black dark:bg-neutral-500 md:-mt-[5px] md:me-0 md:ms-0"
            >
            </div>
            <p class="mt-2 text-sm text-neutral-500 dark:text-black">
              10:00Z
            </p>
          </div>
          <div class="ms-4 mt-2 pb-5 md:ms-0">
            <h4 class="mb-1.5 text-xl font-semibold">TBD</h4>
          </div>
        </li>

        <li>
          <div class="flex-start flex items-center pt-2 md:block md:pt-0 w-32">
            <div
              class="-ms-[5px] me-3 h-[9px] w-[9px] rounded-full bg-black dark:bg-neutral-500 md:-mt-[5px] md:me-0 md:ms-0"
            >
            </div>
            <p class="mt-2 text-sm text-neutral-500 dark:text-black">
              12:00Z
            </p>
          </div>
          <div class="ms-4 mt-2 pb-5 md:ms-0">
            <h4 class="mb-1.5 text-xl font-semibold">TBD</h4>
          </div>
        </li>

        <li>
          <div class="flex-start flex items-center pt-2 md:block md:pt-0 w-32">
            <div
              class="-ms-[5px] me-3 h-[9px] w-[9px] rounded-full bg-black dark:bg-neutral-500 md:-mt-[5px] md:me-0 md:ms-0"
            >
            </div>
            <p class="mt-2 text-sm text-neutral-500 dark:text-black">
              14:00Z
            </p>
          </div>
          <div class="ms-4 mt-2 pb-5 md:ms-0">
            <h4 class="mb-1.5 text-xl font-semibold">TBD</h4>
          </div>
        </li>

        <li>
          <div class="flex-start flex items-center pt-2 md:block md:pt-0 w-32">
            <div
              class="-ms-[5px] me-3 h-[9px] w-[9px] rounded-full bg-black dark:bg-neutral-500 md:-mt-[5px] md:me-0 md:ms-0"
            >
            </div>
            <p class="mt-2 text-sm text-neutral-500 dark:text-black">
              16:00Z
            </p>
          </div>
          <div class="ms-4 mt-2 pb-5 md:ms-0">
            <h4 class="mb-1.5 text-xl font-semibold">TBD</h4>
          </div>
        </li>

        <li>
          <div class="flex-start flex items-center pt-2 md:block md:pt-0 w-32">
            <div
              class="-ms-[5px] me-3 h-[9px] w-[9px] rounded-full bg-black dark:bg-neutral-500 md:-mt-[5px] md:me-0 md:ms-0"
            >
            </div>
            <p class="mt-2 text-sm text-neutral-500 dark:text-black">
              18:00Z
            </p>
          </div>
          <div class="ms-4 mt-2 pb-5 md:ms-0">
            <h4 class="mb-1.5 text-xl font-semibold">TBD</h4>
          </div>
        </li>

        <li>
          <div class="flex-start flex items-center pt-2 md:block md:pt-0 w-32">
            <div
              class="-ms-[5px] me-3 h-[9px] w-[9px] rounded-full bg-black dark:bg-neutral-500 md:-mt-[5px] md:me-0 md:ms-0"
            >
            </div>
            <p class="mt-2 text-sm text-neutral-500 dark:text-black">
              20:00Z
            </p>
          </div>
          <div class="ms-4 mt-2 pb-5 md:ms-0">
            <h4 class="mb-1.5 text-xl font-semibold">TBD</h4>
          </div>
        </li>

        <li>
          <div class="flex-start flex items-center pt-2 md:block md:pt-0 w-32">
            <div
              class="-ms-[5px] me-3 h-[9px] w-[9px] rounded-full bg-black dark:bg-neutral-500 md:-mt-[5px] md:me-0 md:ms-0"
            >
            </div>
            <p class="mt-2 text-sm text-neutral-500 dark:text-black">
              22:00Z
            </p>
          </div>
          <div class="ms-4 mt-2 pb-5 md:ms-0">
            <h4 class="mb-1.5 text-xl font-semibold">Event end</h4>
          </div>
        </li>

      </ol>
    </section>
    <section class="min-h-screen w-screen h-fit">
      <div class="flex justify-center">
        <h2 class="font-medium text-4xl my-6">Common operators</h2>
      </div>
      <div
        class="flex justify-center md:justify-between gap-2 flex-wrap w-full md:w-5/6 mx-auto items-center"
      >
        <div class="flex flex-col">
          <img src="/tails/AirBaltic.png" alt="" class="w-48 p-2" /><p>
        <b>AirBaltic</b> | BTI
          </p>
        </div>
        <div class="flex flex-col">
          <img src="/tails/Air Greenland.png" alt="" class="w-48 p-2" /><p>
        <b>Air Greenland</b> | GRL
          </p>
        </div>
        <div class="flex flex-col">
          <img src="/tails/easyJet.png" alt="" class="w-48 p-2" /><p>
        <b>EasyJet</b> | EZY
          </p>
        </div>
        <div class="flex flex-col">
          <img src="/tails/emirates.png" alt="" class="w-48 p-2" /><p>
        <b>Emeratis</b> | UAE
          </p>
        </div>
        <div class="flex flex-col">
          <img src="/tails/Eurowings.png" alt="" class="w-48 p-2" /><p>
        <b>Eurowings</b> | EWG
          </p>
        </div>
        <div class="flex flex-col">
          <img src="/tails/Finair.png" alt="" class="w-48 p-2" /><p>
        <b>Finair</b> | FIN
          </p>
        </div>
        <div class="flex flex-col">
          <img src="/tails/KLM.png" alt="" class="w-48 p-2" /><p><b>KLM</b> | KLM</p>
        </div>
        <div class="flex flex-col">
          <img src="/tails/LOT.png" alt="" class="w-48 p-2" /><p><b>LOT</b> | LOT</p>
        </div>
        <div class="flex flex-col">
          <img src="/tails/Lufthansa.png" alt="" class="w-48 p-2" /><p>
        <b>Lufthansa</b> | DLH
          </p>
        </div>
        <div class="flex flex-col">
          <img src="/tails/Mersk.png" alt="" class="w-48 p-2" /><p>
        <b>Mærsk</b> | SSR
          </p>
        </div>
        <div class="flex flex-col">
          <img src="/tails/Norwegian.png" alt="" class="w-48 p-2" /><p>
        <b>Norwegian</b> | NSZ
          </p>
        </div>
        <div class="flex flex-col">
          <img src="/tails/Raynair.png" alt="" class="w-48 p-2" /><p>
        <b>Raynair</b> | RYR
          </p>
        </div>
        <div class="flex flex-col">
          <img src="/tails/SWISS.png" alt="" class="w-48 p-2" /><p>
        <b>Switss</b> | SWI
          </p>
        </div>
        <div class="flex flex-col">
          <img src="/tails/SAS.png" alt="" class="w-48 p-2" /><p>
        <b>Scandinavian</b> | SAS
          </p>
        </div>
        <div class="flex flex-col">
          <img src="/tails/Discover.png" alt="" class="w-48 p-2" /><p>
        <b>Discover</b> | OCN
          </p>
        </div>
        <div class="flex flex-col">
          <img src="/tails/Brussels.png" alt="" class="w-48 p-2" /><p>
        <b>Brussels</b> | BEL
          </p>
        </div>
        <div class="flex flex-col">
          <img src="/tails/British Air Ways.png" alt="" class="w-48 p-2" /><p>
        <b>British Air Ways</b> | BAW
          </p>
        </div>
        <div class="flex flex-col">
          <img src="/tails/Austrian.png" alt="" class="w-48 p-2" /><p>
        <b>Astrian</b> | AUA
          </p>
        </div>
      </div>
    </section>
    <section class="min-h-[50vh] px-6 md:px-24">
      <h2 class="mx-auto text-4xl font-medium text-center">Virtual Airline Cooperations</h2>
      <p class="mx-auto text-lg text-center">The following airlines have announced that they will be attending this years event.</p>
    </section>
  </body>
</html>
