---
import Layout from "../layout/index.astro"
import AirportMetar from "../components/AirportMetar.astro"
---
<Layout>
    <div class="w-full h-full flex pt-12 flex-col items-center">
        <h1 class="text-6xl font-semibold dark:text-white text-black ">Metar</h1>
        <div class="grid grid-cols-1 2xl:grid-cols-2 gap-6 mt-12">
            <AirportMetar icao="EKCH" airport="Copenhagen Airport"/>
            <AirportMetar icao="EKBI" airport="Billund Airport"/>
            <AirportMetar icao="EKAH" airport="Aarhus Airport"/>
            <AirportMetar icao="EKYT" airport="Aalborg Airport"/>
            <AirportMetar icao="EKVG" airport="Vagar Airport"/>
        </div>
    </div>
</Layout>