---
import Layout from "../layout/index.astro"
export const prerender = true;

---
<Layout>
    <div class=" p-6 flex items-center justify-center text-xl h-screen text-center flex-col gap-12">
        <h1>Kastrup Tower, OY-DDA, holder ved GA, anmoder om taxi til aktiv bane</h1>
        <img src="https://www.aeropartner.com/assets/frontend/img/honda-jet-ha-420.png" />
    </div>
</Layout>