---
import Layout from "../layout/index.astro"
---
<Layout>
    <div class="w-full h-full flex justify-center pt-12">
        <h1 class="text-6xl font-semibold dark:text-white text-black ">Scenery</h1>
    </div>
</Layout>