---
import Layout from "../layout/index.astro"
---
<Layout>
    <div class="flex justify-center flex-col content-center items-center"> 
        <div class="w-full h-32 flex justify-center">
            <h1 class="text-6xl font-semibold dark:text-white text-black text-center pt-12">Scenery</h1>
        </div>
    </div>
</Layout>