---
import Layout from "../layout/index.astro"
---
<Layout>
    <div class="flex justify-center flex-col content-center items-center"> 
        <div class="w-full h-32 flex justify-center">
            <h1 class="text-6xl font-semibold dark:text-white text-black text-center pt-12">Stands</h1>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-24 mt-12">
            <a target="_blank" href="https://stands.vatsim-scandinavia.org/?icao=EKCH" class="bg-[#28465e] p-2 rounded w-64 h-64 text-center flex flex-col items-center justify-center text-white text-2xl">
                <span class="font-bold">EKCH</span>
                <span class="font-light">Kastrup</span>
            </a>
            <a target="_blank" href="https://stands.vatsim-scandinavia.org/?icao=EKBI" class="bg-[#28465e] p-2 rounded w-64 h-64 text-center flex flex-col items-center justify-center text-white text-2xl">
                <span class="font-bold">EKBI</span>
                <span class="font-light">Billund</span>
            </a>
            <a target="_blank" href="https://stands.vatsim-scandinavia.org/?icao=EKAH" class="bg-[#28465e] p-2 rounded w-64 h-64 text-center flex flex-col items-center justify-center text-white text-2xl">
                <span class="font-bold">EKAH</span>
                <span class="font-light">Aarhus</span>
            </a>
            <a target="_blank" href="https://stands.vatsim-scandinavia.org/?icao=EKYT" class="bg-[#28465e] p-2 rounded w-64 h-64 text-center flex flex-col items-center justify-center text-white text-2xl">
                <span class="font-bold">EKYT</span>
                <span class="font-light">Aalborg</span>
            </a>
            <a target="_blank" href="https://stands.vatsim-scandinavia.org/?icao=EKVG" class="bg-[#28465e] p-2 rounded w-64 h-64 text-center flex flex-col items-center justify-center text-white text-2xl">
                <span class="font-bold">EKVG</span>
                <span class="font-light">Vagar</span>
            </a>
        </div>
    </div>
</Layout>