---
import { ViewTransitions } from "astro:transitions";
import Flight from "../components/flight.astro";
import '../globals.css'
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/Arrow transparent.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <title>Copenhagen Live</title>
        <ViewTransitions />
      </head>
    <body class="scroll-smooth bg-[#fff] bg-[url('/skies.svg')] bg-cover w-full h-full min-h-screen grid grid-cols-1 2xl:grid-cols-3 justify-center items-center overflow-hidden overflow-y-scroll" style='scrollbar-gutter: stable both-edges'  >
        <div class="flex flex-col justify-center items-center basis-1/1 2xl:basis-1/4 p-4 w-full xl:min-w-[250px] h-full ">
            <div class="bg-[#3168e1] w-full p-4 rounded flex justify-center">
                <img src="/vRYR-White.png" class="h-32 p-4" />
            </div>
            <div class="bg-[#f0f2f2] p-2 rounded flex justify-around gap-8 w-full h-full min-h-[50vh]">
                <div class="flex gap-4 flex-col h-full w-full ">
                    <h2 class="text-2xl text-center font-medium">vRYR is hosting multiple fly-in events!</h2>
                    <p class="text-center">Some common routes for Raynair:</p>
                    <div class="flex justify-between gap-6 flex-col ">
                        <div class="flex justify-center flex-row gap-2 w-full flex-wrap">
                            <Flight departureAirport="CPH" flightNumber="FR6845" duration="45 min" arrivalAirport="GDN" aircraftType="B738" />
                            <Flight departureAirport="CPH" flightNumber="FR3759" duration="1 hour 30 min" arrivalAirport="EDI" aircraftType="B738" />
                            <Flight departureAirport="CPH" flightNumber="FR9742" duration="1 hour 30 min" arrivalAirport="BVA" aircraftType="B738" />
                            <Flight departureAirport="CPH" flightNumber="FR606" duration="3 hours" arrivalAirport="MAD" aircraftType="B738" />
                        </div>
                        <div class="flex justify-center flex-row gap-2 w-full flex-wrap">
                            <Flight departureAirport="BYG" flightNumber="FR2990" duration="1 hour 45 min" arrivalAirport="CPH" aircraftType="B738" />
                            <Flight departureAirport="STN" flightNumber="FR7384" duration="1 hour 20 min" arrivalAirport="CPH" aircraftType="B738" />
                            <Flight departureAirport="GDN" flightNumber="FR6844" duration="45 min" arrivalAirport="CPH" aircraftType="B738" />
                            <Flight departureAirport="SOF" flightNumber="FR3607" duration="2 hours 20 min" arrivalAirport="CPH" aircraftType="B738" />
                        </div>
                    </div>
                    <p class="text-center">Visit their website here for more information</p>
                    <a href="https://vryr.eu/" target="_blank" class="text-center text-blue-700 font-medium hover:underline -mt-4 p-0">vryr.eu</a>
                </div>
            </div>
        </div>
        <div class="flex flex-col justify-center items-center basis-1/1 2xl:basis-1/4 p-4 w-full xl:min-w-[250px] h-full">
            <div class="bg-[#272c88] w-full p-4 rounded flex justify-center">
                <img src="/vSAS_light.png" class="h-32 p-4" />
            </div>
            <div class="bg-[#f0f2f2] w-full p-2 rounded flex flex-col justify-center items-center h-full gap-4 min-h-[50vh]">
                <div class="flex gap-4 flex-col ">
                    <h2 class="text-2xl text-center font-medium">vSAS is hosting a triangle group fligh!</h2>

                    <div class="bg-white w-96 mx-4 h-24 flex justify-between items-center rounded-lg drop-shadow">
                        <div class="flex flex-col justify-center items-center h-20 aspect-square">
                            <p class="font-bold text-xl">CPH</p>
                            <p class="text-sm text-gray-600">12:00z</p>
                        </div>
                        <div class="flex flex-col justify-center items-center h-20 ">
                            <span class="text-sm">- - - - - - - - <img src="/airplane.svg" class="w-6 aspect-square inline"/> - - - - - - - -</span>
                            <span class="text-sm">1 hour 5 min</span>
                        </div> 
                        <div class="flex flex-col justify-center items-center h-20 aspect-square">
                            <p class="font-bold text-xl">AAL</p>
                            <p class="text-sm text-gray-600">13:05z</p>
                        </div>
                    </div>

                    <div class="bg-white w-96 mx-4 h-20 flex justify-between rounded-lg drop-shadow">
                        <div class="flex flex-col justify-center items-center h-20 aspect-square">
                            <p class="font-bold text-xl">AAL</p>
                            <p class="text-sm text-gray-600">13:30z</p>
                        </div>
                        <div class="flex flex-col justify-center items-center h-20 ">
                            <span class="text-sm">- - - - - - - - <img src="/airplane.svg" class="w-6 aspect-square inline"/> - - - - - - - -</span>
                            <span class="text-sm">55 min</span>
                        </div> 
                        <div class="flex flex-col justify-center items-center h-20 aspect-square">
                            <p class="font-bold text-xl">BLL</p>
                            <p class="text-sm text-gray-600">14:25z</p>
                        </div>
                    </div>
                    <div class="bg-white w-96 mx-4 h-20 flex justify-between rounded-lg drop-shadow">
                        <div class="flex flex-col justify-center items-center h-20 aspect-square">
                            <p class="font-bold text-xl">BLL</p>
                            <p class="text-sm text-gray-600">14:50z</p>
                        </div>
                        <div class="flex flex-col justify-center items-center h-20 ">
                            <span class="text-sm">- - - - - - - - <img src="/airplane.svg" class="w-6 aspect-square inline"/> - - - - - - - -</span>
                            <span class="text-sm">1 hour 5 min</span>
                        </div> 
                        <div class="flex flex-col justify-center items-center h-20 aspect-square">
                            <p class="font-bold text-xl">CPH</p>
                            <p class="text-sm text-gray-600">15:55z</p>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col text-md text-center items-center justify-center">
                    <p>vSAS are also organizing a giveaway raffle for all participating pilots. <br /> All information are avilable on the vSAS website</p>
                    <a href="https://www.flysasvirtual.net/events" target="_blank" class="text-center text-blue-700 font-medium hover:underline p-0">flysasvirtual.net/events</a>
                </div>
            </div>
        </div>
        <div class="flex flex-col justify-center items-center basis-1/1 2xl:basis-1/4 p-4 w-full xl:min-w-[250px] h-full">
            <div class="bg-[#05164d] w-full p-4 rounded flex justify-center">
                <img src="https://lh-virtual.com/wp-content/uploads/2022/12/full-hd_transparent_logo_white-300x71.png" class="h-32 p-4" />
            </div>
            <div class="bg-[#f0f2f2] w-full p-4 rounded flex justify-center h-full min-h-[50vh]">
                <div class="flex gap-4 flex-col">
                    <h2 class="text-2xl text-center font-medium">LH Virtual is hosting multiple fly-in events!</h2>
                    <div class="grid grid-cols-3 gap-4">
                        <div class="flex flex-col justify-center items-center font-semibold text-lg">
                            <img src="https://www.lufthansagroup.com/media/_processed_/c/1/csm_Tailfin_LH_textured_rgb_ecf7d55cbd.png" class="w-32 aspect-auto">
                            <p>Lufthansa</p>
                            <p class="text-sm">DLH / LUFTHANSA</p>
                        </div>
                        <div class="flex flex-col justify-center items-center font-semibold text-lg">
                            <img src="https://www.lufthansagroup.com/media/_processed_/7/e/csm_Tailfin_EW_textured_rgb_a05e8dfc04.png" class="w-32 aspect-auto">
                            <p>Eurowings</p>
                            <p class="text-sm">EWG EUROWINGS</p>
                        </div>
                        <div class="flex flex-col justify-center items-center font-semibold text-lg">
                            <img src="https://www.lufthansagroup.com/media/_processed_/0/3/csm_Discover-Airlines-Texture-Tail_d26d370342.png" class="w-32 aspect-auto">
                            <p>Discover</p>
                            <p class="text-sm">OCN	/ OCEAN</p>
                        </div>
                        <div class="flex flex-col justify-center items-center font-semibold text-lg">
                            <img src="https://www.lufthansagroup.com/media/_processed_/9/8/csm_Tailfin_LX_textured_rgb_5109000edd.png" class="w-32 aspect-auto">
                            <p>SWISS</p>
                            <p class="text-sm">SWR / SWISS</p>
                        </div>
                        <div class="flex flex-col justify-center items-center font-semibold text-lg">
                            <img src="https://www.lufthansagroup.com/media/_processed_/8/a/csm_Tailfin_OS_textured_rgb_c17441abaa.png" class="w-32 aspect-auto">
                            <p>Austrian</p>
                            <p class="text-sm">AUA	/ AUSTRIAN</p>
                        </div>
                        <div class="flex flex-col justify-center items-center font-semibold text-lg">
                            <img src="https://www.lufthansagroup.com/media/_processed_/8/9/csm_Tailfin_SN_textured_rgb_96b987c94d.png" class="w-32 aspect-auto">
                            <p>Brussels</p>
                            <p class="text-sm">BEL / BEE-LINE</p>
                        </div>
                    </div>
                    <p class="text-center">Visit their website here for more information</p>
                    <a href="https://lh-virtual.com/" target="_blank" class="text-center text-blue-700 font-medium hover:underline -mt-4 p-0">lh-virtual.com</a>
                </div>
            </div>
        </div>
        <div class="flex flex-col justify-center items-center basis-1/1 2xl:basis-1/4 p-4 w-full xl:min-w-[250px] h-full">
            <div class="bg-[#05164d] w-full p-4 rounded flex justify-center">
                <img src="https://www.dlhvirtual.de/lib/skins/DLH/img/dlh.png" class="h-32 p-4" />
            </div>
            <div class="bg-[#f0f2f2] w-full p-4 rounded flex justify-center h-full min-h-[50vh]">
                <div class="flex gap-4 flex-col">
                    <h2 class="text-2xl text-center font-medium">DLH Virtual  Group is hosting multiple fly-in events!</h2>
                    <div class="grid grid-cols-3 gap-4">
                        <div class="flex flex-col justify-center items-center font-semibold text-lg">
                            <img src="https://www.lufthansagroup.com/media/_processed_/c/1/csm_Tailfin_LH_textured_rgb_ecf7d55cbd.png" class="w-32 aspect-auto">
                            <p>Lufthansa</p>
                            <p class="text-sm">DLH / LUFTHANSA</p>
                        </div>
                        <div class="flex flex-col justify-center items-center font-semibold text-lg">
                            <img src="https://www.lufthansagroup.com/media/_processed_/7/e/csm_Tailfin_EW_textured_rgb_a05e8dfc04.png" class="w-32 aspect-auto">
                            <p>Eurowings</p>
                            <p class="text-sm">EWG EUROWINGS</p>
                        </div>
                        <div class="flex flex-col justify-center items-center font-semibold text-lg">
                            <img src="https://www.lufthansagroup.com/media/_processed_/0/3/csm_Discover-Airlines-Texture-Tail_d26d370342.png" class="w-32 aspect-auto">
                            <p>Discover</p>
                            <p class="text-sm">OCN	/ OCEAN</p>
                        </div>
                        <div class="flex flex-col justify-center items-center font-semibold text-lg">
                            <img src="https://www.lufthansagroup.com/media/_processed_/9/8/csm_Tailfin_LX_textured_rgb_5109000edd.png" class="w-32 aspect-auto">
                            <p>SWISS</p>
                            <p class="text-sm">SWR / SWISS</p>
                        </div>
                        <div class="flex flex-col justify-center items-center font-semibold text-lg">
                            <img src="https://www.lufthansagroup.com/media/_processed_/8/a/csm_Tailfin_OS_textured_rgb_c17441abaa.png" class="w-32 aspect-auto">
                            <p>Austrian</p>
                            <p class="text-sm">AUA	/ AUSTRIAN</p>
                        </div>
                        <div class="flex flex-col justify-center items-center font-semibold text-lg">
                            <img src="https://www.lufthansagroup.com/media/_processed_/8/9/csm_Tailfin_SN_textured_rgb_96b987c94d.png" class="w-32 aspect-auto">
                            <p>Brussels</p>
                            <p class="text-sm">BEL / BEE-LINE</p>
                        </div>
                    </div>
                    <p class="text-center">Visit their website here for more information</p>
                    <a href="https://www.dlhvirtual.de/" target="_blank" class="text-center text-blue-700 font-medium hover:underline -mt-4 p-0">dlhvirtual.de</a>
                </div>
            </div>
        </div>
        <div class="flex flex-col justify-center items-center basis-1/1 2xl:basis-1/4 p-4 w-full xl:min-w-[250px] h-full">
            <div class="bg-[#2b2b2b] w-full p-4 rounded flex justify-center">
                <img src="https://cdn.vamsys.xyz/phoenixMediaStore/logo_select_page_dark/24620/c/vEZY_White_2022-logo.png" class="h-32 p-4" />
            </div>
            <div class="bg-[#f0f2f2] w-full p-4 rounded flex justify-around gap-8 h-full min-h-[50vh]">
                <div class="flex gap-4 flex-col">
                    <h2 class="text-2xl text-center font-medium">vEZY is hosting multiple fly-in events!</h2>
                    <p class="text-center">All vEZY Pilots will get 250 Bonus Points for each flight in or out of CPH during the event.</p>
                    <p>Some common routes for EasyJet:</p>
                    <div class="flex justify-between gap-6 flex-col ">
                        <div class="flex justify-center flex-row gap-2 w-full flex-wrap">
                            <Flight departureAirport="CPH" flightNumber="U25262" duration="" arrivalAirport="BER" aircraftType="A320" />
                            <Flight departureAirport="CPH" flightNumber="U24488" duration="" arrivalAirport="LYS" aircraftType="A320" />
                            <Flight departureAirport="CPH" flightNumber="U24648" duration="" arrivalAirport="CDG" aircraftType="A320" />
                            <Flight departureAirport="CPH" flightNumber="U22236" duration="" arrivalAirport="MAN" aircraftType="A320" />
                        </div>
                        <div class="flex justify-center flex-row gap-2 w-full flex-wrap">
                            <Flight departureAirport="AMS" flightNumber="U27935" duration="" arrivalAirport="CPH" aircraftType="A320" />
                            <Flight departureAirport="BOD" flightNumber="U21955" duration="" arrivalAirport="CPH" aircraftType="A320" />
                            <Flight departureAirport="BRS" flightNumber="U22931" duration="" arrivalAirport="CPH" aircraftType="A320" />
                            <Flight departureAirport="GVA" flightNumber="U21537" duration="" arrivalAirport="CPH" aircraftType="A320" />
                        </div>
                    </div>
                    <p class="text-center">Visit their website here for more information</p>
                    <a href="https://www.dlhvirtual.de/" target="_blank" class="text-center text-blue-700 font-medium hover:underline -mt-4 p-0">dlhvirtual.de</a>
                </div>
            </div>
        </div>
        <div class="flex flex-col justify-center items-center basis-1/1 2xl:basis-1/4 p-4 w-full xl:min-w-[250px] h-full">
            <div class="bg-[#e42e3c] w-full p-4 rounded flex justify-center">
                <img src="https://www.virtualnorwegian.net/lib/skins/vnorwegian/img/logo2.png" class="h-32 p-4" />
            </div>
            <div class="bg-[#f0f2f2] p-2 rounded flex justify-around gap-8 w-full h-full min-h-[50vh]">
                <div class="flex gap-4 flex-col h-full w-full ">
                    <h2 class="text-2xl text-center font-medium">vNAX has announced their arrival!</h2>
                    <p class="text-center">Some common routes for Norwegian:</p>
                    <div class="flex justify-between gap-6 flex-col ">
                        <div class="flex justify-center flex-row gap-2 w-full flex-wrap">
                            <Flight departureAirport="CPH" flightNumber="D83082" duration="" arrivalAirport="AAL" aircraftType="B738" />
                            <Flight departureAirport="CPH" flightNumber="D83656" duration="" arrivalAirport="BCN" aircraftType="B738" />
                            <Flight departureAirport="CPH" flightNumber="D83640" duration="" arrivalAirport="NCE" aircraftType="B38M" />
                            <Flight departureAirport="CPH" flightNumber="D83628" duration="" arrivalAirport="MPL" aircraftType="B738" />
                        </div>
                        <div class="flex justify-center flex-row gap-2 w-full flex-wrap">
                            <Flight departureAirport="OSL" flightNumber="DY940" duration="" arrivalAirport="CPH" aircraftType="B738" />
                            <Flight departureAirport="AGP" flightNumber="D83671" duration="" arrivalAirport="CPH" aircraftType="B38M" />
                            <Flight departureAirport="KRK" flightNumber="D83563" duration="" arrivalAirport="CPH" aircraftType="B738" />
                            <Flight departureAirport="ARN" flightNumber="D83205" duration="" arrivalAirport="CPH" aircraftType="B738" />
                        </div>
                    </div>
                    <p class="text-center">Visit their website here for more information</p>
                    <a href="https://vryr.eu/" target="_blank" class="text-center text-blue-700 font-medium hover:underline -mt-4 p-0">vryr.eu</a>
                </div>
            </div>
        </div>
    </body>
</html>