<div
  class="w-28 absolute top-0 h-full hidden lg:flex flex-col items-center p-4 text-snow bg-[#011328] z-10"
>
  <a href="/" class="bg-[#28465e] p-2 rounded mt-6">
    <img src="/Arrow transparent.svg" class="W-12 h-12" alt="site logo" />
  </a>
  <div
    class="flex h-1/3 justify-between gap-2 flex-col mt-6 font-semibold text-lg uppercase"
  >
    <a
      href="/aerodromes"
      class="p-2 rounded justify-center items-center flex flex-col text-center hover:bg-vatscasecondary"
    >
      <svg
        class="w-16 h-16 p-2 stroke-white"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
      <path d="M8 5.00005C7.01165 5.00082 6.49359 5.01338 6.09202 5.21799C5.71569 5.40973 5.40973 5.71569 5.21799 6.09202C5 6.51984 5 7.07989 5 8.2V17.8C5 18.9201 5 19.4802 5.21799 19.908C5.40973 20.2843 5.71569 20.5903 6.09202 20.782C6.51984 21 7.07989 21 8.2 21H15.8C16.9201 21 17.4802 21 17.908 20.782C18.2843 20.5903 18.5903 20.2843 18.782 19.908C19 19.4802 19 18.9201 19 17.8V8.2C19 7.07989 19 6.51984 18.782 6.09202C18.5903 5.71569 18.2843 5.40973 17.908 5.21799C17.5064 5.01338 16.9884 5.00082 16 5.00005M8 5.00005V7H16V5.00005M8 5.00005V4.70711C8 4.25435 8.17986 3.82014 8.5 3.5C8.82014 3.17986 9.25435 3 9.70711 3H14.2929C14.7456 3 15.1799 3.17986 15.5 3.5C15.8201 3.82014 16 4.25435 16 4.70711V5.00005" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
    <a
      href="/charts"
      class="p-2 rounded justify-center items-center flex flex-col text-center hover:bg-vatscasecondary"
    >
      <svg
        class="w-14 h-14 p-2 stroke-white"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
      <path d="M5.02542 9.21017C5.56228 7.86802 5.8307 7.19695 6.29238 6.67048C6.41002 6.53633 6.53633 6.41002 6.67048 6.29238C7.19695 5.8307 7.86802 5.56228 9.21017 5.02542C15.5025 2.50848 18.6487 1.25001 20.4457 2.47117C20.8718 2.7607 21.2393 3.1282 21.5288 3.55428C22.4801 4.95418 21.9267 7.17279 20.4457 11.0596C20.0256 12.1623 19.5308 13.3992 18.9746 14.7898C18.4377 16.132 18.1693 16.8031 17.7076 17.3295C17.59 17.4637 17.4637 17.59 17.3295 17.7076C16.8031 18.1693 16.132 18.4377 14.7898 18.9746C8.49749 21.4915 5.35132 22.75 3.55428 21.5288C3.1282 21.2393 2.76071 20.8718 2.47117 20.4457C1.52476 19.053 2.06771 16.8499 3.53158 13" stroke-width="1.5" stroke-linecap="round"/>
      <path d="M12.5 14.9585C12.3374 14.9858 12.1704 15 12 15C10.3431 15 9 13.6569 9 12C9 10.3431 10.3431 9 12 9C13.6569 9 15 10.3431 15 12C15 12.1704 14.9858 12.3374 14.9585 12.5" stroke-width="1.5" stroke-linecap="round"/>
      </svg>
    </a>
    <a
      href="/metar"
      class="p-2 rounded justify-center items-center flex flex-col text-center hover:bg-vatscasecondary"
    >
      <svg
        class="w-14 h-14 p-2 stroke-white"
        viewBox="0 0 61 54"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M41.8872 11.375C43.6038 9.45703 46.0984 8.25 48.875 8.25C54.0528 8.25 58.25 12.4473 58.25 17.625C58.25 22.8028 54.0528 27 48.875 27H2M19.2164 4.08334C20.3609 2.80469 22.024 2 23.875 2C27.3269 2 30.125 4.79822 30.125 8.25C30.125 11.7018 27.3269 14.5 23.875 14.5H2M28.5916 49.9166C29.7359 51.1953 31.3991 52 33.25 52C36.7019 52 39.5 49.2019 39.5 45.75C39.5 42.2981 36.7019 39.5 33.25 39.5H2"
          stroke-width="4"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </a>
    <a
      href="/stands"
      class="p-2 rounded justify-center items-center flex flex-col text-center hover:bg-vatscasecondary"
    >
      <svg
        class="w-14 h-14 p-2 fill-white"
        viewBox="0 0 50 50"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M25 0C21.5482 0 18.75 2.79822 18.75 6.25V13.4152C18.75 14.087 18.3206 14.6836 17.6835 14.8969L4.03779 19.4653C1.62583 20.2728 0 22.5317 0 25.0752V26.3622C0 26.5355 0.0144003 26.7084 0.0430521 26.8792C0.328547 28.5813 1.93982 29.7297 3.64194 29.4442L18.8861 26.8873L19.7721 38.3701L14.9876 42.0414C14.1494 42.6845 13.6929 43.7077 13.7742 44.7611L13.8883 46.2403C13.9194 46.6436 14.0285 47.037 14.2096 47.3987C14.9821 48.942 16.8595 49.5669 18.4028 48.7944L24.9905 45.4969L31.5996 48.7979C31.9606 48.9782 32.353 49.0868 32.7553 49.1179C34.476 49.2508 35.9788 47.9636 36.1117 46.2429L36.2304 44.7062C36.3118 43.6521 35.8547 42.6282 35.0155 41.9851L30.2323 38.3197L31.1139 26.9077L46.3597 29.4565C46.53 29.485 46.7024 29.4993 46.875 29.4993C48.6009 29.4993 50 28.1002 50 26.3743V25.0952C50 22.5572 48.3796 20.3027 45.9741 19.4936L32.3144 14.8995C31.6784 14.6856 31.25 14.0895 31.25 13.4185V6.25C31.25 2.79822 28.4518 0 25 0ZM25 3.125C26.7259 3.125 28.125 4.52411 28.125 6.25V13.4185C28.125 15.4315 29.4102 17.2197 31.3182 17.8614L44.9779 22.4556C46.1114 22.8368 46.875 23.8992 46.875 25.0952V26.3743L31.6291 23.8255C29.9269 23.5409 28.3162 24.6901 28.0316 26.3924C28.0164 26.4834 28.0052 26.575 27.9981 26.667L27.1166 38.079C27.0352 39.1332 27.4923 40.157 28.3315 40.8001L33.1147 44.4655L32.996 46.0022L26.3868 42.7012C25.5068 42.2617 24.4713 42.2622 23.5917 42.7025L17.004 45.9999L16.8899 44.5206L21.6745 40.8494C22.5127 40.2062 22.9692 39.1831 22.8879 38.1297L22.0018 26.6469C21.869 24.9261 20.3664 23.6388 18.6456 23.7716C18.553 23.7787 18.4608 23.79 18.3691 23.8053L3.125 26.3622V25.0752C3.125 23.8753 3.89201 22.8096 5.02989 22.4287L18.6756 17.8602C20.5868 17.2204 21.875 15.4306 21.875 13.4152V6.25C21.875 4.52411 23.2741 3.125 25 3.125Z"
        ></path>
      </svg>
    </a>
    <a
      href="/competition"
      class="p-2 rounded justify-center items-center flex flex-col text-center hover:bg-vatscasecondary"
    >
      <svg
        class="w-14 h-14 p-2 fill-white"
        viewBox="0 0 50 50"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M48.2143 3.57143H37.5C37.4607 3.57143 37.4286 3.59107 37.3911 3.59286C36.2286 1.58571 34.95 0.480357 34.8571 0.403572C34.5375 0.142857 34.1375 0 33.725 0H16.2732C15.8607 0 15.4607 0.142857 15.1429 0.405357C15.05 0.482143 13.7696 1.5875 12.6089 3.59464C12.5714 3.59107 12.5393 3.57143 12.5 3.57143H1.78572C1.27679 3.57143 0.79286 3.7875 0.45536 4.16607C0.116074 4.54464 -0.0446402 5.05 0.010717 5.55357C0.61786 11.0196 4.59465 21.5143 15.2143 23.0089C16.3714 24.6589 17.7375 26.3268 19.3411 28.0143C19.4268 28.1054 19.5411 28.1536 19.6411 28.2232V32.1429H16.0696C15.0839 32.1429 14.2839 32.9411 14.2839 33.9286V39.2857H10.7143C9.72857 39.2857 8.92857 40.0839 8.92857 41.0714V48.2143C8.92857 49.2018 9.72857 50 10.7143 50H39.2857C40.2714 50 41.0714 49.2018 41.0714 48.2143V41.0714C41.0714 40.0839 40.2714 39.2857 39.2857 39.2857H35.7143V33.9286C35.7143 32.9411 34.9143 32.1429 33.9286 32.1429H30.3571V28.225C30.4589 28.1554 30.5714 28.1054 30.6571 28.0161C32.2589 26.3304 33.625 24.6607 34.7839 23.0107C45.4036 21.5161 49.3821 11.0214 49.9875 5.55536C50.0446 5.05179 49.8821 4.54643 49.5429 4.16786C49.2071 3.7875 48.7232 3.57143 48.2143 3.57143ZM3.93393 7.14286H11.1768C10.9696 7.95179 10.8018 8.80536 10.7429 9.75536C10.5625 12.6321 11.2036 15.6107 12.65 18.6732C6.88036 16.3375 4.69465 10.3107 3.93393 7.14286ZM37.5 46.4286H12.5V42.8571H16.0714H33.9286H37.5V46.4286ZM32.1429 39.2857H17.8571V35.7143H21.4286H28.5714H32.1429V39.2857ZM23.2143 32.1429V28.5714H26.7857V32.1429H23.2143ZM28.5893 25H28.5714H21.4286H21.4107C16.4411 19.6089 14.05 14.5839 14.3036 10.0554C14.4946 6.61964 16.1875 4.42679 16.9893 3.57143H33.0089C33.8161 4.43214 35.5054 6.62321 35.6964 10.0571C35.9482 14.5839 33.5571 19.6089 28.5893 25ZM37.3571 18.6589C38.8 15.6018 39.4375 12.6268 39.2571 9.75357C39.1982 8.80536 39.0304 7.95179 38.825 7.14286H46.0518C45.2714 10.2946 43.0554 16.3143 37.3571 18.6589Z"
        ></path>
      </svg>
    </a>
  </div>
</div>
<div
  class="w-full h-20 bg-[#011328] absolute bottom-0 p-2 flex flex-row items-center justify-center z-10 lg:hidden"
>
  <a href="/" class="w-12 h-12">
    <img src="/Arrow transparent.svg" class="w-full h-full" alt="site logo" />
  </a>
  <a
    href="/aerodromes"
    class="p-2 rounded justify-center items-center flex flex-col text-center hover:bg-[#28465e]"
  >
    <svg
      class="w-14 h-14 p-2 stroke-white"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
    <path d="M8 5.00005C7.01165 5.00082 6.49359 5.01338 6.09202 5.21799C5.71569 5.40973 5.40973 5.71569 5.21799 6.09202C5 6.51984 5 7.07989 5 8.2V17.8C5 18.9201 5 19.4802 5.21799 19.908C5.40973 20.2843 5.71569 20.5903 6.09202 20.782C6.51984 21 7.07989 21 8.2 21H15.8C16.9201 21 17.4802 21 17.908 20.782C18.2843 20.5903 18.5903 20.2843 18.782 19.908C19 19.4802 19 18.9201 19 17.8V8.2C19 7.07989 19 6.51984 18.782 6.09202C18.5903 5.71569 18.2843 5.40973 17.908 5.21799C17.5064 5.01338 16.9884 5.00082 16 5.00005M8 5.00005V7H16V5.00005M8 5.00005V4.70711C8 4.25435 8.17986 3.82014 8.5 3.5C8.82014 3.17986 9.25435 3 9.70711 3H14.2929C14.7456 3 15.1799 3.17986 15.5 3.5C15.8201 3.82014 16 4.25435 16 4.70711V5.00005" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </a>
  <a
    href="/charts"
    class="p-2 rounded justify-center items-center flex flex-col text-center hover:bg-[#28465e]"
  >
    <svg
      class="w-14 h-14 p-2 stroke-white"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
    <path d="M5.02542 9.21017C5.56228 7.86802 5.8307 7.19695 6.29238 6.67048C6.41002 6.53633 6.53633 6.41002 6.67048 6.29238C7.19695 5.8307 7.86802 5.56228 9.21017 5.02542C15.5025 2.50848 18.6487 1.25001 20.4457 2.47117C20.8718 2.7607 21.2393 3.1282 21.5288 3.55428C22.4801 4.95418 21.9267 7.17279 20.4457 11.0596C20.0256 12.1623 19.5308 13.3992 18.9746 14.7898C18.4377 16.132 18.1693 16.8031 17.7076 17.3295C17.59 17.4637 17.4637 17.59 17.3295 17.7076C16.8031 18.1693 16.132 18.4377 14.7898 18.9746C8.49749 21.4915 5.35132 22.75 3.55428 21.5288C3.1282 21.2393 2.76071 20.8718 2.47117 20.4457C1.52476 19.053 2.06771 16.8499 3.53158 13" stroke-width="1.5" stroke-linecap="round"/>
    <path d="M12.5 14.9585C12.3374 14.9858 12.1704 15 12 15C10.3431 15 9 13.6569 9 12C9 10.3431 10.3431 9 12 9C13.6569 9 15 10.3431 15 12C15 12.1704 14.9858 12.3374 14.9585 12.5" stroke-width="1.5" stroke-linecap="round"/>
    </svg>
  </a>
  <a
    href="/metar"
    class="p-2 rounded justify-center items-center flex flex-col text-center hover:bg-[#28465e]"
  >
    <svg
      class="w-14 h-14 p-2 stroke-white"
      viewBox="0 0 61 54"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M41.8872 11.375C43.6038 9.45703 46.0984 8.25 48.875 8.25C54.0528 8.25 58.25 12.4473 58.25 17.625C58.25 22.8028 54.0528 27 48.875 27H2M19.2164 4.08334C20.3609 2.80469 22.024 2 23.875 2C27.3269 2 30.125 4.79822 30.125 8.25C30.125 11.7018 27.3269 14.5 23.875 14.5H2M28.5916 49.9166C29.7359 51.1953 31.3991 52 33.25 52C36.7019 52 39.5 49.2019 39.5 45.75C39.5 42.2981 36.7019 39.5 33.25 39.5H2"
        stroke-width="4"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>
  </a>
  <a
    href="/stands"
    class="p-2 rounded justify-center items-center flex flex-col text-center hover:bg-[#28465e]"
  >
    <svg
      class="w-14 h-14 p-2 fill-white"
      viewBox="0 0 50 50"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M25 0C21.5482 0 18.75 2.79822 18.75 6.25V13.4152C18.75 14.087 18.3206 14.6836 17.6835 14.8969L4.03779 19.4653C1.62583 20.2728 0 22.5317 0 25.0752V26.3622C0 26.5355 0.0144003 26.7084 0.0430521 26.8792C0.328547 28.5813 1.93982 29.7297 3.64194 29.4442L18.8861 26.8873L19.7721 38.3701L14.9876 42.0414C14.1494 42.6845 13.6929 43.7077 13.7742 44.7611L13.8883 46.2403C13.9194 46.6436 14.0285 47.037 14.2096 47.3987C14.9821 48.942 16.8595 49.5669 18.4028 48.7944L24.9905 45.4969L31.5996 48.7979C31.9606 48.9782 32.353 49.0868 32.7553 49.1179C34.476 49.2508 35.9788 47.9636 36.1117 46.2429L36.2304 44.7062C36.3118 43.6521 35.8547 42.6282 35.0155 41.9851L30.2323 38.3197L31.1139 26.9077L46.3597 29.4565C46.53 29.485 46.7024 29.4993 46.875 29.4993C48.6009 29.4993 50 28.1002 50 26.3743V25.0952C50 22.5572 48.3796 20.3027 45.9741 19.4936L32.3144 14.8995C31.6784 14.6856 31.25 14.0895 31.25 13.4185V6.25C31.25 2.79822 28.4518 0 25 0ZM25 3.125C26.7259 3.125 28.125 4.52411 28.125 6.25V13.4185C28.125 15.4315 29.4102 17.2197 31.3182 17.8614L44.9779 22.4556C46.1114 22.8368 46.875 23.8992 46.875 25.0952V26.3743L31.6291 23.8255C29.9269 23.5409 28.3162 24.6901 28.0316 26.3924C28.0164 26.4834 28.0052 26.575 27.9981 26.667L27.1166 38.079C27.0352 39.1332 27.4923 40.157 28.3315 40.8001L33.1147 44.4655L32.996 46.0022L26.3868 42.7012C25.5068 42.2617 24.4713 42.2622 23.5917 42.7025L17.004 45.9999L16.8899 44.5206L21.6745 40.8494C22.5127 40.2062 22.9692 39.1831 22.8879 38.1297L22.0018 26.6469C21.869 24.9261 20.3664 23.6388 18.6456 23.7716C18.553 23.7787 18.4608 23.79 18.3691 23.8053L3.125 26.3622V25.0752C3.125 23.8753 3.89201 22.8096 5.02989 22.4287L18.6756 17.8602C20.5868 17.2204 21.875 15.4306 21.875 13.4152V6.25C21.875 4.52411 23.2741 3.125 25 3.125Z"
      ></path>
    </svg>
  </a>
  <a
    href="/competition"
    class="p-2 rounded justify-center items-center flex flex-col text-center hover:bg-[#28465e]"
  >
    <svg
      class="w-14 h-14 p-2 fill-white"
      viewBox="0 0 50 50"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M48.2143 3.57143H37.5C37.4607 3.57143 37.4286 3.59107 37.3911 3.59286C36.2286 1.58571 34.95 0.480357 34.8571 0.403572C34.5375 0.142857 34.1375 0 33.725 0H16.2732C15.8607 0 15.4607 0.142857 15.1429 0.405357C15.05 0.482143 13.7696 1.5875 12.6089 3.59464C12.5714 3.59107 12.5393 3.57143 12.5 3.57143H1.78572C1.27679 3.57143 0.79286 3.7875 0.45536 4.16607C0.116074 4.54464 -0.0446402 5.05 0.010717 5.55357C0.61786 11.0196 4.59465 21.5143 15.2143 23.0089C16.3714 24.6589 17.7375 26.3268 19.3411 28.0143C19.4268 28.1054 19.5411 28.1536 19.6411 28.2232V32.1429H16.0696C15.0839 32.1429 14.2839 32.9411 14.2839 33.9286V39.2857H10.7143C9.72857 39.2857 8.92857 40.0839 8.92857 41.0714V48.2143C8.92857 49.2018 9.72857 50 10.7143 50H39.2857C40.2714 50 41.0714 49.2018 41.0714 48.2143V41.0714C41.0714 40.0839 40.2714 39.2857 39.2857 39.2857H35.7143V33.9286C35.7143 32.9411 34.9143 32.1429 33.9286 32.1429H30.3571V28.225C30.4589 28.1554 30.5714 28.1054 30.6571 28.0161C32.2589 26.3304 33.625 24.6607 34.7839 23.0107C45.4036 21.5161 49.3821 11.0214 49.9875 5.55536C50.0446 5.05179 49.8821 4.54643 49.5429 4.16786C49.2071 3.7875 48.7232 3.57143 48.2143 3.57143ZM3.93393 7.14286H11.1768C10.9696 7.95179 10.8018 8.80536 10.7429 9.75536C10.5625 12.6321 11.2036 15.6107 12.65 18.6732C6.88036 16.3375 4.69465 10.3107 3.93393 7.14286ZM37.5 46.4286H12.5V42.8571H16.0714H33.9286H37.5V46.4286ZM32.1429 39.2857H17.8571V35.7143H21.4286H28.5714H32.1429V39.2857ZM23.2143 32.1429V28.5714H26.7857V32.1429H23.2143ZM28.5893 25H28.5714H21.4286H21.4107C16.4411 19.6089 14.05 14.5839 14.3036 10.0554C14.4946 6.61964 16.1875 4.42679 16.9893 3.57143H33.0089C33.8161 4.43214 35.5054 6.62321 35.6964 10.0571C35.9482 14.5839 33.5571 19.6089 28.5893 25ZM37.3571 18.6589C38.8 15.6018 39.4375 12.6268 39.2571 9.75357C39.1982 8.80536 39.0304 7.95179 38.825 7.14286H46.0518C45.2714 10.2946 43.0554 16.3143 37.3571 18.6589Z"
      ></path>
    </svg>
  </a>
</div>
