---
import { ViewTransitions } from "astro:transitions";
import ThemeToggle from "../components/ThemeToggle.tsx";
import Navigation from "../components/Navigation.astro";
---

<html lang="en">
  <head>
    <script is:inline>
      const isDarkMode = localStorage.getItem("theme");
      const theme = isDarkMode === "true" ? "dark" : "";
      document.querySelector("html").className = theme;
    </script>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/Arrow transparent.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />
    <title>Copenhagen Live 2024</title>
    <ViewTransitions />
  </head>
  <body class="w-screen">
    <Navigation />
    <div class="w-full h-full text-[#dfebeb] flex flex-col justify-center items-center gap-4" >

      <div class="hidden lg:block w-[calc(100%-7rem)] h-full absolute top-0 left-[7rem] -mr-32 overflow-y-scroll bg-[url('/background.jpg')] bg-center backdrop-blur bg-[size:150%]" >
        <div class="w-full h-full backdrop-blur-sm bg-black/30 flex flex-col justify-center items-center gap-4">
          <slot />
        </div>
      </div>

      <div class="lg:hidden z-0 absolute top-0 w-screen h-full overflow-scroll bg-[url('/background.jpg')] bg-center bg-cover backdrop-blur">
        <div class="w-full h-full backdrop-blur-sm bg-black/30 flex flex-col justify-center items-center gap-4">
          <slot />
        </div>
      </div>

    </div>

    <div class="hidden sm:block absolute right-5 bottom-5">
      <ThemeToggle client:visible />
    </div>
    <div class="absolute bottom-5 left-0 z-20 text-center w-28 hidden sm:block">
      <p class="text-white">
        Powerd by
        <br />OY-DDA
      </p>
    </div>
  </body>
</html>
