---
import { ViewTransitions } from "astro:transitions";
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/Arrow transparent.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />
    <title>Copenhagen Live 2024</title>
    <ViewTransitions />
  </head>
  <body class="w-screen h-full bg-[url('/skies.svg')] bg-cover overflow-x-hidden">
      <slot />
  </body>
</html>
